{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Historial</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
</head>
<body>
    <div class="container">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  {% for i in tecnicos %}
  <tbody class="table-light" >
    <tr>
      <th scope="row">1</th>
      <td>{{i.first_name}}</td>
      <td>{{i.last_name}}</td>
      <td>{{i.email}}</td>
    </tr>
  </tbody>
  {% endfor %}
    </table>
</div>
  <!-- js-->
  <script src="{% static "js/jquery-3.3.1.js" %}"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
  <script src="{% static "js/validarRUT.js" %}"></script>
</body>
</html>